@import './base.css';

* {
  box-sizing: border-box;
}

body {
  font-family: Play, sans-serif;
}
h1 {
  font-size: 52px;
  font-weight: bold;
  margin-bottom: 100px;
  color: coral;
}

h2 {
  font-weight: bold;
  font-size: 40px;
}
h3 {
  font-family: 'Playpen Sans', sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 5px;
}
